<div class="ft-progress">
  <div class="ft-progress__header">
    <span class="ft-subtitle">{{ label }}</span>
    <span class="ft-body">{{ percent }}%</span>
  </div>

  <div class="ft-progress__track">
    <div class="ft-progress__value" [class]="'ft-progress__value ft-progress__value--' + tone" [style.width.%]="progressWidth"></div>
  </div>

  <div class="ft-progress__meta">
    <span class="ft-body">€{{ value | number:'1.0-2' }}</span>
    <span class="ft-caption">de €{{ limit | number:'1.0-2' }}</span>
  </div>
</div>
